<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Profile.css" rel="stylesheet" />

</head>

<body>
    <div class="container mt-5 col-8">
        @RenderBody()
    </div>

    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>
